html {
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
overflow-x: hidden;
}

::-webkit-scrollbar {
width: 10px;
}

html::-webkit-scrollbar-track {
color: transparent;
}

::-webkit-scrollbar-thumb {
border-radius: 8px;
background: #555;
}

::-webkit-scrollbar-thumb:hover {
background: #888;
}

img {
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-o-user-select: none;
user-select: none;
-webkit-user-drag: none;
-ms-user-select: none;
}

a {
color: #8FE0EA;
cursor: pointer;
}

body a:visited {
color: #9aea8f;
}


.platforms {
height: 100px;
box-shadow: 0 3px 4px 0 #83ff8376, 0 3px 3px -2px #83ff8376, 0 1px 8px 0 #83ff8376;
}

.platforms:hover {
 animation: platforms_hover 1s forwards;
}

@keyframes platforms_hover {
 to {
height: 120px;
 }
}

.q {
width: 100%;
border-radius: 25px;
height: 48px;
text-align: left;
cursor: pointer;
border: none;
}

.a {
display: none;
}

.q:after {
content: '\2754';
font-weight: bold;
float: right;
margin-left: 5px;
}

.opened:after {
content: "\26D4";
}

.a {
overflow: hidden;
display: block;
max-height: 0;
margin: .5%;
transition: max-height 0.2s ease-out;
}

#contribute button {
width: 14em;
border-radius: 5px;
height: 3em;
border: 5px ridge #dedede;
background-color: #000;
color: #fff;
}

.colorful {
animation: colorful_txt 4s infinite;
}

@keyframes colorful_txt {
0% {
color: #83ff83;
}
25% {
color: #8FE0EA;
}
50% {
color: #FF0000;
}
75% {
color: #02E048;
}
100% {
color: #83ff83;
}
}